@import "tailwindcss";
@plugin "daisyui";

@layer base {
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
  
  input, textarea, select {
    @apply !text-white !bg-[#121212] !border-gray-800 focus:!border-orange-500 !outline-none;
  }
  body { @apply bg-[#0f0f0f] text-white font-sans; }
}

@layer components {
  .orange-frame { @apply bg-[#c27111] p-6 md:p-10 rounded-[2.5rem] shadow-2xl transition-all; }
  .inner-card { @apply bg-[#1e1e1e] rounded-3xl p-8 border border-white/5 relative; }
  
  .btn-primary-orange {
    @apply btn bg-[#ff9100] hover:bg-[#e68200] border-none text-black font-black px-8 rounded-xl;
  }
}